#search-bar {
  border: solid black 2px;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px;
}

table {
    width: 100%
}

tbody tr {
  border-top: solid black 1px !important;
}

#scrollable-area {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  padding: 10px;
  border: solid black 2px;
  border-radius: 3px;
}

#add-user-button {
  margin: 5px 0 5px auto;
  display: block;
}

#search-container {
    margin-top: 20px;
}