#display-container {
  display: flex;
  flex-direction: row;
}

#left-content {
  background-color: #eeeeee;
  width: 60%;
  padding: 30px;
}

#right-sidebar-content {
  background-color: #ea9999;
  width: 40%;
  border-left: solid black 3px;
  padding: 30px;
}

#project-name {
  color: white;
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.number-input-field {
  margin: 0 10px;
  width: 80px;
}

#deadline-input-field {
  margin-bottom: 40px;
}

.input {
  border: solid black 2px;
  border-radius: 2px;
}

#back-button {
  color: black;
  text-decoration: none;
  display: block;
  margin: auto 0;
  min-width: 70px;
}

#title-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

#create-proj-title {
  display: block;
  margin: 0 auto;
  padding-right: 70px;
}

